{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

        <div class = "jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple business analyser made by Branson.
                            Click to see what I look at when investing in businesses.
            </p>
            <hr class="my-4">
            <a class="btn btn-info btn-lg" href="analysis" role="button">Start Analysing!</a>
            <a class="btn btn-info btn-lg" href="dcf" role="button">Intrinsic Calculator!</a>
        </div>

{% endblock %}
